body {
  background: #5fafbf;
}

.container {
  margin: auto;
  background: #3f7f3f;
  opacity: 0.75;
  width: 480px;
  height: 400px;
  border: 10px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 12px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0.65;
}

.snake {
  background: black;
  opacity: 0.8;
}

.fruit {
  background: red;
}

.snake-body {
  background-color: black;
  opacity: 0.55;
}

.snake-head {
  background-color: black;
  opacity: 1;
}


/* TEXTURES */

.snake-body-right {
  background-image: url("../img/body-r.png");
}


.snake-body-down {
  background-image: url("../img/body-d.png");
}

